// Frontpage medium tag color
$mediums: ("GAME": rgb(43, 17, 129),
    "FILM": rgb(17, 87, 128),
    "BOOK": rgb(112, 75, 16));

@each $value,
$name in $mediums {
    .#{$value}ImageContainerTopLeft {
        color: $name !important;
        background: mix($name, rgb(255, 255, 255)) !important;
    }
}


// Search highlight colors
$numbers: ("1", "2", "3", "4", "5");
$color: rgb(231, 48, 170);

.headerBannerStyling a:hover {
    background: $color;
}

$color: darken($color, 25%);

@each $num in $numbers {
    $color: adjust-hue($color, 30);
    .search-item-#{$num} a:hover {
        background: $color !important;
    }
}
