* {
  @include reset-list;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  background: $bg-color;
  cursor: pointer;
}

.row {
  max-width: 100vw;
}

.navbar {
  padding: 10px 5px;
  border-bottom: $border-style;
}

.navbar-space {
  padding-left: 10px;
}

.navbar-item {
  display: inline-block;
  padding: 0 1%;
}

.divider {
  padding: 10px;
  margin-right: 15px;
  border-right: $border-style;
}

.individualMediumStyling {
  border: 1px $grey solid;
  padding: 10px;
  margin: 0 15% 10px 15%;
}

.listGenreStyling {
  list-style-type: none;
  display: block;
  padding: 5px 0;
  margin: 5px 0;
  font-size: .7rem;
}

 .listGenreStyling li {
   display: inline-block;
    margin: 5px 2px;
}

.listGenreStyling li a, .listGenreStyling li p {
  display: inline;
  border: 1px solid $black;
  padding: 2px 8px;
  border-radius: 10px;
  background: $black;
  color: $white;
}

.listGenreStyling li p {
  cursor: not-allowed;
}

.listGenreStyling .userVotedForThis a {
  border: 1px solid $userVote;
  background: $userVote;
}

.genreCategory {
  display: inline;
  border: 1px solid $black;
  padding: 2px 8px;
  border-radius: 10px;
  background: $white;
  color: $black;
}

.column {
  float: left;
  width: 50%;
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
}

.headerBannerStyling {
  padding: 10px;
  background: $header-color-darken;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.headerBannerStyling a {
  color: $white;
}

.hr-banner-styling {
  content: "";
  border: $border-style;
}

.bodyContentStyling {
  padding: 5%;
}

.smallFont {
  font-size: 75%;
}

.greyFont {
  color: rgb(150, 150, 150);
}

.greyLine {
  border-top: 1px solid $column-sidebar;
  border-bottom: 1px solid rgb(236, 236, 236);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input {
  -webkit-tap-highlight-color: transparent;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding-left: 10px;
}

.banner-search-input {
  background: $header-color;
  color: $white;
  padding: 5px
}

*:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

input:focus {
  border: 1px solid #bbb;
}

input::placeholder {
  color: #bbb;
  opacity: 1;
}

.frontPageBodyContentStyling {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.frontPageBodyContentStyling .gallery,
.gallery {
  border: $border-style;
  width: 270px;
  min-height: 350px;
}

.frontPageBodyContentStyling .gallery:hover {
  border: 1px solid #777;
}

.frontPageBodyContentStyling .gallery img {
  width: 100%;
  height: auto;
}

.frontPageBodyContentStyling .gallery p {
  font-size: .75em;
}

.selectedImage {
  width: 400px;
  height: auto;
}

.selectedImage img{
  width: 100%;
  height: auto;
}

.imageContainer {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: .7rem;
}

.imageContainerTopLeft, .imageContainerTopRight {
  position: absolute;
  top: 4px;
  padding: 2px 8px;
  border-radius: 5px;
  background: $column-sidebar;
}

.imageContainerTopLeft {
  left: 8px;
}

.imageContainerTopRight {
  right: 8px;
}

.imageContainerTopClose {
  padding: 1px 4px;
  border-radius: 100px;
}

.desc {
  text-align: center;
  margin: 25px;
}

.body {
  min-height: 80vh;
  margin-bottom: -50px;
}

.footer {
  margin-top: 5em;
  height: 10vh;
  padding: 1rem;
  color: #ddd;
  background-color: #222;
  text-align: center;
  letter-spacing: 0.1em
}

.column1, .column2 {
  float: left;
  width: 20%;
}

.column2 {
  width: 80%;
}

.column-medium-1, .column-medium-2 {
  float: left;
  min-width: 0%;
}

.column-medium-2 {
  max-width: 100%;
  padding-left: 20px;
}

.column-header-1, .column-header-2 {
  float: left;
}

.column-header-2 {
  padding-top: 10px;
  float: right;
  width: 20%;
}

.column-body, .column-sidebar {
  float: left;
  width: 75%;
}

.column-sidebar {
  width: 22%;
  padding: 10px;
  background: $column-sidebar;
  border: 1px solid $column-sidebar;
}

.genreVoteBody {
  padding-left: 20px;
  width: 100%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.imageGallery {
  list-style-type: none;
}

.imageGallery li {
  display: inline-block;
}

.morePictures {
  border: $border-style;
  width: 98px;
  height: 98px;
}

.morePictures a {
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    color: $black;

}

.nuetral-alert {
  background: $neutral-alert;
  cursor: crosshair
}

.warning-alert,
.warning-alert a {
  background: $warning-alert;
  color: $white;
  cursor: crosshair
}

.warning-alert a {
  text-decoration: underline;
  cursor: pointer
}