$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Helvetica Neue', sans-serif;

$bg-color: rgb(64, 224, 208);
$white: #fff;
$grey: #ccc;
$black: invert($white);
$lightBlue: #61dafb;

$neutral-alert: rgb(255, 255, 89);
$warning-alert: rgb(190, 7, 7);
$header-color: #282c34;
$column-sidebar: rgb(245, 247, 248);
$userVote: rgb(79, 184, 144);


$border-style: 1px solid $grey;