@media only screen and (max-width: 1024px) and (max-height: 1366px) {
    .individualMediumStyling {
        margin: 0;
    }
    .column-sidebar {
        width: 100%;
        padding: 0;
    }

    .column1, .column2 {
        width: 100%;
    }


    .bodyContentStyling {
        padding: 0%;
    }

    .frontPageBodyContentStyling {
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
    

    .frontPageBodyContentStyling .gallery,
    .gallery {
        align-self: center;
    }

    .desc h2 {
        font-size: 100%;
    }

    .body {
        margin-top: 125px;
    }

    .paragraph-crunch {
        padding: 3% 10%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 100%;
    }

    .grid-cell {
        margin: 0%;
        min-height: 0px;
    }

}